body,
.net-back {
  background-color: black;
}

.search-icon {
  color: white;
  padding-top: 12px !important;
}
.right-icons {
  color: white;
}
body,
.net-back {
  background-color: black;
}

.search-icon {
  /* color: white; */
  padding-top: 12px !important;
}
.right-icons {
  /* color: white; */
}
body {
  background-color: #0f171e;
}
.images img {
  position: absolute;
  top: -11px;
}
.images {
  position: relative;
  left: 0px;
}
.prime-badge {
  position: relative;
  top: 10px;
  left: 4px;
  height: 26px;
  margin-top: -280px;
}
